/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/win32_interop.tlog/*.tlog
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/win32_interop.tlog/*.tlog
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/hiredis.tlog/*.tlog
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/hiredis.tlog/*.tlog
/LKAutoTools/globalServer/exec/*.stat
/SGServer/exec/*.stat
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/*.sdf
/LKAutoTools/globalServer/*.sdf
/SGServer/*.sdf
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/*.log
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/*.log
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/*.log
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/*.log
/LKAutoTools/globalServer/exec/glog/*.log
/SGServer/exec/log/*.log
/LKAutoTools/globalServer/exec/*.ilk
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/*.idb
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/*.idb
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/*.idb
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/*.idb
/SGClient/Log
/SGClient/Temp
/SGClient/Library
/SGClient/StreamingAssetsUpload
/SGClient/Assets/StreamingAssets
/SGServer/exec/GameServerD.pdb
/SGServer/exec/GameServerD.exe
/SGServer/GameAllServer.opensdf
/Public/IntDir
SGClient/Config/user.txt
/LKAutoTools/PublishServer/sgServer.tar.gz
/LKAutoTools/PublishServer/sgSql.tar.gz
/LKAutoTools/PublishSQL/CompareGame/sg_dev_game_patch.sql
/LKAutoTools/PublishServer/sg_dev_game_patch.sql
*.apk
SGClient/Assets/Sprites/UI_Dialog/UI_JumpDlg/Thumbs.db.meta
SGClient/Assets/Sprites/UI_Dialog/UI_JumpDlg/Thumbs.db
Thumbs.db
Thumbs.db.meta
*.db
SGClient/.svn/entries
SGClient/.svn/format
SGClient/.svn/wc.db-journal
.svn
SGClient/TiledMapNew/worldmap_minimap.png
SGClient/Assets/PackAssets/Character/Char_Shape_Archer/.DS_Store
SGClient/Assets/PackAssets/Character/Char_Shape_Cavalry/.DS_Store
*.vspx
*.vspx
*.vspx
